
.linkBack {
    position: fixed;
    top: 5vh;
    left: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.linkBack:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
